<%- include("header") -%>

<div class="container">
  <h2 class="title">Stck Market App</h2>
  <br />
  <h4>Stock Market Web Search created with <a class="link" href="https://nodejs.org" target="_blank">Node</a>, <a class="link" href="https://ejs.co" target="_blank">EJS</a> and <a class="link" href="https://expressjs.com" target="_blank">Express</a>.</h4>
  <br />
  <p>This is a Stock Market Portfolio application that allows you to search for stock quote symbols by connecting to a third-party <strong><a class="link" href="https://iexcloud.io/" target="_blank">API</a></strong> to collect stock market information.</p>
  <br />


  <p>Applying the following:</p>
<div class="content">
  <ul class="list">
    <li>Basic CSS with Bootstrap 4</li>
    <li>How to use Express for Static Webpages</li>
    <li>How to use EJS for Dynamic Pages</li>
    <li>How to use API's in the Node App</li>
    <li>How to get Stock Market Data</li>
    <li>How To Push the App To Heroku for Webhosting</li>
  </ul>
</div>

</div>

<%- include("footer") -%>
