</body>

<footer class="footer">
  <div class="container">
    <a href="https://github.com/ferolo3000/stck-market" target="_blank" class="btn btn-outline-light btn-md"><span class="fa fa-github"></span> View on GitHub</a>
  </div>
</footer>

</html>
